.chat_log{ 
    width: 1400px;
    height: 670px; 
    font-size:1.4em;
    resize:none;
    position: fixed;
    top: 100px;
    left: 200px;;
   }
.message{ 
   width: 1099px;
   height:25px;
   position: fixed;
   top: 775px;
   left: 200px;
 }
.chat{ 
width: 150px; 
height: 31px;
position: fixed;
top: 775px;
left: 1306px;
}
.naver_api{
width: 150px;
height: 31px;
position: fixed;
top:775px;
left:1456px;
}
.name_list{
    width:260px;
    height:465px;
    font-size:1.4em;
    resize:none;
    position: fixed;
    top:335px;
    left:1610px;
   }
.loginsec{
   left: 1610px;
   top: 100px;
   text-align: center;
   border : 1px solid black;
   font-size:1em;
   position: fixed;
   height: 150px;
   width: 264px;
}
.loginbtn{
   height: 33px;
   width: 100%;
}
.name_count{
 left:1610px;
 top:253px;
 resize:none;
 position:fixed;
 width: 260px;
 height: 75px;
 font-size:1em;
}
p{
font-size:8px;
}
