<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Home Network</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class = "container">
        <div class="header">
            <h2>Home IoT</h2>
        </div>
        <div class="main">
            <div>
                <button onclick = "led_on()">LED ON</button>
            </div>
            <div>
                <button onclick = "led_off()">LED OFF</button>
            </div>
            <div>
                <button onclick = "green_on()">green ON</button>
            </div>
            <div>
                <button onclick = "green_off()">green OFF</button>
            </div>
        </div>
            
        <div id = "result">
        </div>
    </div>
    <script>
        function led_on()
        {
            fetch("/led/on")
            .then(response => response.text())
            .then(data=>
            {
                console.log(data);
                let result = document.querySelector("#result");
                if(data == "ok") {result.innerHTML = "<h1>LED is running</h1>";}
                else {result.innerHTML = "<h1>error</h1>";}
            });
        }

        function led_off()
        {
            fetch("/led/off")
            .then(response => response.text())
            .then(data=>
            {
                console.log(data);
                let result = document.querySelector("#result");
                if(data == "ok") {result.innerHTML = "<h1>LED is stopping</h1>";}
                else {result.innerHTML = "<h1>error</h1>";}
            });
        }
        function green_on()
        {
            fetch("/green/on")
            .then(response => response.text())
            .then(data=>
            {
                console.log(data);
                let result = document.querySelector("#result");
                if(data == "ok") {result.innerHTML = "<h1>LED is running</h1>";}
                else {result.innerHTML = "<h1>error</h1>";}
            });
        }

        function green_off()
        {
            fetch("/green/off")
            .then(response => response.text())
            .then(data=>
            {
                console.log(data);
                let result = document.querySelector("#result");
                if(data == "ok") {result.innerHTML = "<h1>LED is stopping</h1>";}
                else {result.innerHTML = "<h1>error</h1>";}
            });
        }
    </script>
</body>
</html>